@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.scroller {

    scrollbar-width:5px;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


body {
    font-family: Raleway, 'Open Sans', 'Droid Sans', Roboto, arial, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /*font-family: "Roboto",sans-serif;*/
    position: fixed;
    background-image: url("../img/bg/bgk1.jpg");


    font-size: 18px;
    line-height: 28px;
    vertical-align: baseline;
    font-stretch: 100%;
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
}

h1{
    font-size: 38px;
    line-height: 48px;
}


.logo img{
    width: 200px;
}

.layout{
    display: flex;
    height: 100vh;
    width: 100%;
}
#rolling{
    cursor: pointer;
}

.page{
    background: #ffffff63;
    width: 100%;
    /*margin: 5px;*/
    margin-left: 5px;
    /*background-image: url("../img/bg/bgk1.jpg");*/
    height: 100%;
    /*overflow-y: auto;*/
}

.header{
    /*background: #819ebe45;*/
    height: 50px;
    /*box-shadow: 0 5px 5px #0000001a;*/
    position: absolute;
    left: 0;
    right: 0;
    z-index: 60;
}
.navbar{
    display: flex;

     position: absolute;
    justify-content: space-between;
    padding: 0 23px;
    margin-left: 259px;
    transition: all .4s;
    /*background: #ffffff66;*/
    backdrop-filter: blur(9px);
    right: 0;
    left:  0;
    box-shadow: 0 14px 20px #0000001c;

}


.nav-top{
    margin-right: 23px;
}

.navbar-left{

}

.navbar-right{
    display: flex;
    align-self: center;  // vertical center
}

.wrapper{
    width: 100vw;
}
.main-wrapper{
    /*background: #69d2b4;*/
    /*background: #6da5bd8c;*/
    padding: 23px;
    /*margin: 23px;*/
    /*box-shadow: 4px 4px 8px #0000001f;*/
    text-shadow: 2px 2px 7px #0000001c;
    /*backdrop-filter: blur(8px);*/
    overflow-y: auto;
    height: calc(100% - 140px);
    position: relative;
    top: 60px;
}
.page-content{
    background: #8699fc;
    /*padding: 23px;*/
    /*margin: 23px;*/
}

.nav-js{
    cursor: pointer;
    color: #1ab0cf;
    transition: all .5s;

    border: 1px solid teal;
    border-radius: 13px;
    padding: 1px 10px;
}

.nav-js:hover{
    color: #c2dee3;
    transition: all .5s;
    cursor: pointer;
}




.layout.hidden .navbar{
    margin-left: 4px;
    transition: all .4s;
}
