


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


body {
    font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Roboto",sans-serif;
    position: fixed;
    background-image: url("../img/bg/bgk1.jpg");

    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
}

.logo img{
    width: 200px;
}

.layout{
    display: flex;
    height: 100vh;
    width: 100%;
}
#rolling{
    cursor: pointer;
}

.page{
    background: #ffffff63;
    width: 100%;
    /*margin: 5px;*/
    margin-left: 5px;
    /*background-image: url("../img/bg/bgk1.jpg");*/
}

.header{
    background: #819ebe45;
    height: 50px;
    box-shadow: 0 5px 5px #0000001a;
}
.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0 23px;
}


.nav-top{
    margin-right: 23px;
}

.navbar-left{

}

.navbar-right{
    display: flex;
    align-self: center;  // vertical center
}

.wrapper{
    width: 100vw;
}
.main-wrapper{
    background: #69d2b4;
    background: #6da5bd45;
    padding: 23px;
    /* height: 100vh; */
    /* width: 100vw; */
    margin: 23px;
    box-shadow: 4px 4px 8px #0000001f;
}
.page-content{
    background: #8699fc;
    /*padding: 23px;*/
    /*margin: 23px;*/
}

.nav-js{
    cursor: pointer;
    color: #1ab0cf;
    transition: all .5s;

    border: 1px solid teal;
    border-radius: 13px;
    padding: 1px 10px;
}

.nav-js:hover{
    color: #c2dee3;
    transition: all .5s;
    cursor: pointer;
}

